/* ==========================================================================
   FONTS / SETTINGS
   ========================================================================== */
/// Font family
:root {
    --font-primary: 'Italiana', serif;
    --font-secondary: 'Nunito', sans-serif;

    --font-size-content: 1.2rem;

    /// Grosseur des textes
    --font-size-h1: 4.125rem;
    --font-size-h2: 2rem;
}
